*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    flex-direction: column;
    background-color:rgb(34, 34, 34);
    width: 350px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
    border-radius: 8px;
}

.header{
    display: flex;
    flex-direction: row;
}
.header .name{
    margin: 25px;
    margin-left: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 700;
    color:white;
}

.messageBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 300px;
    min-height: 350px;
    max-height: 350px;
    background-color: rgb(49, 49, 49);
    margin: auto;
    border-radius: 8px;
    overflow-y: auto;
}
.sendedMessage{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
    background-color: white;
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    text-align: right;
    max-height: 50px;
    min-height: 30px;
}
.person img{
    margin: 10px;
    margin-left: 30px;
    max-width: 50px;
    border-radius: 100%;
}

.bottom{
    display: flex;
    flex-direction: row;
    margin-bottom: auto;
    align-items: center;
}
.writeText{
    outline: 0;
    padding: 10px;
    border-radius: 8px;
    border: 0;
    margin-left: 25px;
    width: 250px;
    margin-right: 10px;
}

.buttonMessage{
    outline: 0;
    border: 0;
    padding: 10px;
    width: 45px;
    border-radius: 8px;
}

.buttonMessage:active{
    border: 1px solid rgba(0,0,0);
}